*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px; 
}

.wrapper {
  width: 100%;
  margin: auto;
  position: relative;
}

.header {
  height: 100px;
  background-color: violet;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 200px;
}

.logo span {
  font-size: 26px;
}

.logo h1 {
  font-size: 26px;
}

.num-results {
  min-width: 200px;
  text-align: end;
  font-size: 18px;
}

.search-details {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: flex;
  width: 100%;
}

.search-container button {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.searchbox {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px 8px;
  border: none; 
  border-radius: 5px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 150px 100px;
  padding-bottom: 50px;
  grid-gap: 50px;
}

.image-card {
  width: 260px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-image {
  width: 260px;
  height: 260px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.5s;
}

.images-container .result-image:hover {
  transform: translateY(-3px);
}

.image-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;

}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; 
  gap: 10px;
}

.pagination-container .page-number {
  font-size: 16px; 
  font-weight: 600;
  padding: 10px 20px; 
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #fff;
}

.pagination-container .page-number:hover {
  background: violet;
}

.pagination-container .active {
  background: violet;
}

.status-message {
  padding: 150px; 
  text-align: center;
}

@media (max-width: 800px) {
  .images-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 150px 10px
  }

  .header {
    flex-direction: column;
  }

  .pagination-container .page-number {
    font-size: 10px; 
    padding: 5px 10px; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #fff;
  }

}
@media (max-width: 400px) {
  .images-container {
    grid-template-columns: 1fr;
    padding: 150px 10px
  }

  .header {
    flex-direction: column;
  }

  .pagination-container {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; 
    gap: 5px;
  }

  .pagination-container .page-number {
    font-size: 10px; 
    padding: 5px 10px; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #fff;
  }

}